// Define variables for your color scheme

// For example:
$red:        #ff3313;
$green:      rgb(7, 181, 7);
$yellow:     yellow;

$dark-red:   #82392e;
$mid-red:    #8d4c41;
$light-red:  #b69287;
$orange:     #ff7d00;
$dark:       #001524;
$blue:       #15616d;
$white:      #f1f7ed;
$light-gray: #e6ece2;
$gray:       #393b38;
$mid-gray:  #91948e;
$blue2:       #072d33;
