<%= simple_form_for deal do |f| %>
  <h5 class="card-title text-center">Oferta <%= f.input :price, placeholder: "Quanto quer ofertar?" %> </h5>
  <p class="card-text"></p>

  <%= f.submit "Enviar oferta" %>
<% end %>
<hr>
