<%= simple_form_for [@car, @deal] do |f| %>
  <h5 class="card-title text-center"><strong>Oferta</strong> <%= f.input :price, placeholder: "Quanto quer ofertar?" %> </h5>
  <p class="card-text"></p>

  <%= f.submit "Enviar oferta" %>
<% end %>
<hr>
