.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("banner_background.png");
  text-align: center;
}

.banner h1 {
  // margin-left: 15%;
  color: #F1F7ED;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  // margin-left: 20%;
  font-size: 20px;
  color: #F1F7ED;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}
