.btn-index {
  color: white;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-index:hover {
  background: #4D04C4;
  color: white;
}
