.navbar-lewagon {
  justify-content: space-between;
  background: #B69287;
  color: #82392E;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
