.navbar-lewagon {
  justify-content: space-between;
  background: #F1F7ED;
  color: #82392E;
  max-height: 72px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin-top: 50px;
}
