<div class="container">

  <h1>Liste seu carro na plataforma</h1>
  <br>
  <%= render "form", car: @car %>
  <br>
  <div class="container mb-3">
    <%= link_to "Volte para a pesquisa de todos os carros", cars_path, class: "btn btn-dark" %>
  </div>
</div>
